<div class="container myBtn">
  <button mat-button>mat-button</button>
  <button mat-raised-button>mat-raised-button</button>
  <button mat-flat-button>mat-flat-button</button>
  <button mat-stroked-button>mat-stroked-button</button>
</div>
<div class="container mt-3">
  <button mat-fab>mat-fab</button>
  <button mat-mini-fab>mat-mini-fab</button>
  <button mat-icon-button>mat-icon-button</button>
</div>
<div class="container mt-3">
    <h6 class="text-white">Color</h6>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" mat-button>Warn</button>
</div>
<div class="container mt-3">
    <h6 class="text-white">Color + mat-raised</h6>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>
<div class="container mt-3">
    <h6 class="text-white">Color + mat-raised + disableRipple</h6>
    <button color="primary" disableRipple mat-raised-button>Primary</button>
    <button color="accent" disableRipple mat-raised-button>Accent</button>
    <button color="warn" disableRipple mat-raised-button>Warn</button>
</div>
